@font-face{
   font-family: "Lato";
   src: url("/fonts/Lato-Regular.ttf") format("truetype");
}


body {
   min-height: 120vh;
    background: linear-gradient(to bottom, #493843, #893c62);
    font-family: "Lato";
    font-weight: bolder;
    color: white;
 }
 
 .home {
    background-color: #262529;
    height: 850px;
    margin: 40px;
    border-radius: 30px;
 
 }
 
 .home>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    gap: 20px;
 }
 .logo{
   width: 80px;
}
 
 .linkedin {
    display: flex;
    align-items: center;
    gap: 25px;
 
 }
 
 .linkedin>div:first-child>a{
    text-decoration: none;
    color: white;
 }
 
 .centre {
    display: flex;
    gap: 50px;
 }
 
 
 .div-centre>a {
    text-decoration: none;
    color: white;
 }