body {
   min-height: 100vh;
    background: linear-gradient(to bottom, #493843, #893c62);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
 }
 
 .home {
    background-color: #262529;
    height: 850px;
    margin: 40px;
    border-radius: 30px;
 
 }
 
 .home>header {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px;
    gap: 20px;
 }
 .logo{
   width: 80px;
}
 
 .linkedin {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 25px;
 
 }
 
 .linkedin>div:first-child>a{
    text-decoration: none;
    color: white;
 }
 
 .centre {
    display: flex;
    margin-left: 550px;
    gap: 50px;
 }
 
 
 .center>a {
    text-decoration: none;
    color: white;
 }