body {
   background: linear-gradient(to bottom, #493843, #893c62);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;
   color: white;
}

.home {
   background-color: #262529;
   max-width: 100%;
   margin: 40px;
   border-radius: 30px;
   padding: 5px;

}

.home>header {
   display: flex;
   align-items: center;
   background-color: aliceblue;
   border-radius: 10px;
   color: black;
   padding: 20px;
   margin: 5px;
   gap: 20px;
}

.retoura{
   display: flex;
   align-items: center;
   gap: 15px;
   text-decoration: none;
   color: #262529;
}
.retoura:hover{
   background-color: #493843;
   padding: 5px;
   border-radius: 10px;
   transform: scale(1.1);
}
.arrow{
   stroke: black;
}
.arrow:hover{
   stroke: #893c62;
   
}

.titre {
   margin-left: 75vh;
   font-size: 50px;
}

.linkedin {
   display: flex;
   align-items: center;
   margin-left: auto;
   gap: 25px;


}

.linkedin>div:first-child>a {
   text-decoration: none;
   color: black;
}

main {
   gap: 50px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);

}

.sae {
   display: grid;
   background-color: #893c62;
   border: 2px solid white;
   border-radius: 15px;
   width: auto;
   padding: 20px;
   margin: 50px;

}

.sae:hover{
   transform: scale(1.2);
}
.lien{
   text-decoration: none;
   color: white;
}


.style {
   background-color: #493843;
   padding: 10px;
   border-radius: 10px;
}